<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}

<!-- Content -->
{% block content %}

<html lang="en">
<head>
  <meta charset="utf-8">   
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
		<div class="header"><h1>Dispositivos</h1></div>
		<hr />
    <form action="/" method="POST">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon">Please select</span>
                  <select name="comp_select" id="comp_select" class="selectpicker form-control" style="width:auto;">  
                    <option value="" selected>Choose here</option>
                    {% for id_devices_html in devices %}
                    <option>{{ id_devices_html }}</option>
                    {% endfor %}
                  </select>
                  <button type="submit" name="btngo" id="btngo" class="btn btn-default">GO</button>
          </div>
          <a class="btn" href="/configuracion">CONFIGURACION</a>
          <a class="btn" href="/alarmas">ALARMAS</a>
        </div>
      </form>
  </div>
  
  
  <div class="row">
      <div class="col-sm-4" style="background-color: rgb(87, 165, 175);"> <center><strong><b>ESTADO</b></strong></center></div>
      <div class="col-sm-4" style="background-color: rgb(87, 165, 175);"> <center><strong><b>ALARMAS</b></strong></center>
        <div class="row">
          </div> </div>
      <div class="col-sm-4" style="background-color: rgb(87, 165, 175);"> <center><strong><b>CONFIGURACION</b></strong></center>
        <div class="row">
          <form action="/" method="GET">
            {% for b in configuracion %}
              <div class="row" style="background-color:lightcoral;"> <center><strong><b>{{ b }}</b></strong></center></div>
            {% endfor %}
          </form>
        </div>
      </div>
  </div> 

  
  

{% endblock %}

