<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}

<!-- Content -->
{% block content %}

<html lang="en">
<head>
  <meta charset="utf-8">   
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
		<hr />
    <form action="/configuracion" method="POST">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Filtro</span>
                  <select name="comp_select" id="comp_select" class="selectpicker form-control" style="width:auto;">  
                    <option value="" selected>Todos los dispositivos</option>
                    {% for id_devices_html in devices %}
                    <option>{{ id_devices_html }}</option>
                    {% endfor %}
                  </select>
                  <button type="submit" name="btngo" id="btngo" class="btn btn-primary">GO</button>
          </div>
        </div>
      </form>
  </div>
  
<div class="container">
    <hr />
  <center>
    <div class="card mb-1" style="max-width: 50rem;">
      <div class="card-header text-white" style="background-color: #00AA9E;">CONFIGURACION</div>
      <ul class="list-group list-group-flush">
        {% for b in configuracion %}
          <li class="list-group-item">{{ b }}</li>
        {% endfor %}
      </ul>
    </div>
  </center>
</div>
{% endblock %}

