<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}
{% block cantidad_alarmas %}<div id="cantidad_alarmas_html">{{ cantidad_alarmas  }}</div>{% endblock %}


<!-- Content -->
{% block content %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

  <!-- (Optional) Latest compiled and minified JavaScript translation files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>

  <!-- (Optional) Mis script (javascript) utilizado en index -->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="static/js/index.js"></script>
</head>

<body>

  <!-- Espacio (inserto linea gris en el HTML) -->
  <hr />

  <div class="container">
    <div class="row justify-content-center">
      <div class="card border-primary mb-1" style="max-width: 50rem;">
        <div class="card-header">
          <form action="/boton_config" method="POST">
            <div class="form-group">
              <div class="input-group">
                <button class="btn btn-primary" type="submit">CONFIGURAR</button>
              </div>
              <div class="card-body text-primary">
                <h5 class="card-title">Configurar dispositivos</h5>
                <div class="input-group">
                  <span class="input-group-text" style="width:200px;">Pareja de dispositivos</span>
                  <!-- el id en select es para identificar en python a traves de su id, los diferentes dispositivos seleccionados para la configuracion -->
                  <select class="selectpicker" multiple data-actions-box="true" name="dispositivos_seleccionados" id="dispositivos_seleccionados"
                    data-live-search="true">
                    {% for id_devices_html in devices %}
                    <option>{{ id_devices_html }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="input-group">
                  <span class="input-group-text" style="width:200px;">Seleccion de Perfil</span>
                  <!-- con el id identifico el perfil seleccionado -->
                  <select class="input-xlarge" name="perfil_seleccionado" id="perfil_seleccionado" style="width:200px;">
                    {% for id_perfil in perfiles %}
                    <option>{{ id_perfil }}</option>
                    {% endfor %}
                  </select>
                </div>

                <hr />

                <p class="card-text">Seleccione la pareja de dispositivos que quiere configurar. La configuracion se
                  aplica a todos los dispositivos seleccionados.
                </p>

              </div>
            </div>
        </div>
      </div>
      </form>
    </div>

    <hr />


    <div class="container">
      <div class="row">
        <!-- con el id identifico el div que debo reemplazar con javascript (ver javascript index.js) -->
        <div class="col-sm-4" id=warning_alarm_html>
          {% if warning_alarm_event == 0 %}
          <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">
              <center>Estado de la configuracion</center>
            </div>
            <div class="card-body text-success">
              <h5 class="card-title">Success!</h5>
              <p class="card-text">Los dispositivos vecinos no tienen incosistencia en la configuracion.</p>
            </div>
          </div>
          {% elif warning_alarm_event == 1 %}
          <div class="card border-warning mb-3" style="max-width: 20rem;">
            <div class="card-header">
              <center>Estado de la configuracion</center>
            </div>
            <div class="card-body text-warning">
              <h5 class="card-title">Warning!</h5>
              <p class="card-text">Algunos dispositivos vecinos tienen configuracion inconsistente.</p>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="col-sm-4">
          {% if linklogico != 2 %}
          <div class="card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">
              <center>Links</center>
            </div>
            <div class="card-body text-danger">
              <h5 class="card-title">Ooops!</h5>
              <p class="card-text">El enlace logico no esta presente. No existe conectividad entre clientes.</p>
            </div>
          </div>
          {% elif linklogico == 2 %}
          <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">
              <center>Links</center>
            </div>
            <div class="card-body text-success">
              <h5 class="card-title">Success!</h5>
              <p class="card-text">El enlace logico esta presente. Existe conectividad entre clientes.</p>
            </div>
          </div>
          {% endif %}
        </div>

        <!-- con el id identifico en javascript -->
        <div class="col-sm-4" id=alarms_card_html>
          {% if cantidad_alarmas != 0 %}
          <div class="card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">
              <center>Alarmas</center>
            </div>
            <div class="card-body text-danger">
              <h5 class="card-title">Ooops!</h5>
              <p class="card-text">Algunos dispositivos podrian contener alarmas. Alarmas en total:
                {{ cantidad_alarmas }}.</p>
            </div>
          </div>
          {% elif cantidad_alarmas == 0 %}
          <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-header">
              <center>Alarmas</center>
            </div>
            <div class="card-body text-success">
              <h5 class="card-title">Success!</h5>
              <p class="card-text">No hay alarmas presentes en los dispositivos.</p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <hr />

    <form action="/boton_agregar_dispositivo" method="POST">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header"><button class="btn btn-primary" type="submit" name="boton_agregar_dispositivo"
                  id="boton_agregar_dispositivo">Agregar dispositivo a ONOS</button></div>
              <div class="card-body">
                <div class="form-group row">

                  <div class="col">
                    <input class="form-control" name="ip" id="ip" type="text" placeholder="172.16.0.141">
                  </div>

                  <div class="col">
                    <input class="form-control" name="puerto" id="puerto" type="text" placeholder="830">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>



    {% endblock %}