*.aux
*.run.xml
*.synctex.gz
.vscode/*
.idea/*
*.bbl                                                                                                                                                                              
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*-blx.bib
*.docx
*.rtf
texput.log
*.synctex.gz(busy)
Chapters/*.aux
